<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Treinando Flask</title>
</head>
<body>
    <h1>LAB FLASK</h1>
    <form method="POST">
        <label for="nome">Digite seu nome:</label>
        <input type="text" id="nome" name="nome">
        <button type="submit">Enviar</button>
    </form>

    <hr>

    {% if nome_no_html %}
        <h2>Oi {{ nome_no_html }}, seu nome foi enviado com sucesso</h2>
    {% else %}
        <p>Insira um nome...</p>
    {% endif %}

</body>
</html>